@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.Home {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background-image: url("https://i.natgeofe.com/n/e484088d-3334-4ab6-9b75-623f7b8505c9/1086.jpg")
}

.pic {
  height: auto;
  width: 400px;
  border-radius: 12px;
}


.home {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text {
  width: 540px;
}

.text h2 {
  color: #7B4BA5;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text h5 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

span {
  color: #7B4BA5;
}

.text p {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: justify;
}

.data {
  margin-top: 30px;
}

.hire {
  font-size: 18px;
  background: #5E6CAB;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  transition: 0.5s;
}

.hire:hover {
  background: #425CCF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5E6CAB;
}

li {
 float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
  background-color: #425CCF;
}

.active {
  background-color: #7B4BA5;
}

.p1 {
  border-radius: 50%;
  height: 500px ;
  width: 500px ;
  opacity: 0.5 ;
}




