 body {
            color: #ffffff;
            font-family: 'Arial', sans-serif;
            background-size: cover;
            background-attachment: fixed;
        h1 {
    text-align: center;
    color: #7B4BA5;
    font-size: 40px
}
        h2, h3, h4 {
            text-align: left;
            color: #7B4BA5;
        }
        ul {
            font-size: 20px;
            line-height: 1.5;
            margin: 0 20px;
            color: #000;

        }
        img {
            display: block;
            margin: 0 auto;
            border: 2px solid #425CCF;
            height: 300px;
            width: 300px;
            float: right;
            margin-left: 20px;
        }
        .container {
            text-align: center;
            margin-top: 20px;
            clear: both;
        }
        a {
            background-color: #7B4BA5;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        a:hover {
            background-color: #5E6CAB;
        }
        .offer-section {
            background-color: #F2F5EA;
            border: 1px solid #425CCF;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            overflow: hidden;
        }

