<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Us Voyager Hotels</title>
    <link rel="stylesheet" href="../static/css/about.css" />
  </head>
  <body>

<ul>
  <li><a  href="/index">Home</a></li>
  <li><a class="active" href="/about">About</a></li>
  <li><a href="/transport">Transport</a></li>
  <li><a href="/activitiesPage">Activities</a></li>
  <li><a href="/contact">Contact</a></li>
  <li class="dropdown"><a  href="accommodation.html" class="dropbtn">Accommodation</a>
    <div class="dropdown-content">
      <a href="mars.html">Mars</a>
      <a href="venus.html">Venus</a>
      <a href="jupiter.html">Jupiter</a>
      <a href="saturn.html">Saturn</a>
    </div>
  </li>
</ul>
</ul>
    <section class="about-us">
      <div class="about">
        <img src="https://media.architecturaldigest.com/photos/60426252993888ff3d26b159/1:1/w_1079,h_1079,c_limit/20-1223%20Voyager%20Station.jpg" alt="Avatar" class="pic" />
        <div class="text">
          <h2>About Us</h2>
          <h5>Our Hotels & <span>Experiences</span></h5>
          <p>Welcome to the Voyager line of Hotels! We are the first and only hotel chain to reach beyond
            the stars and bring relaxation and fun to another level. We have a hotel branch on each planet
            of our local system, each with different activities revolving around each planets unique
            climate and terrain . We are a 5-star chain with state-of-the-art facilities and services
            unique to us. The views from our stations and rooms are out of this world! Every room has
            floor to ceiling windows allowing guests the best view of the stars and other planets.</p>
          <div class="data">
            <a href="funfacts.html" class="hire">Fun Facts</a>
          </div>
        </div>
      </div>
    </section>
  <section class="about-us1">
    <div class="team1">
      <img src="https://www.pbs.org/wgbh/americanexperience/media/gallery_images/Moon_gallery_03.jpg" alt="Avatar" class="team-pic" />
      <div class="text1">
        <h2>Meet The Team</h2>
        <h5>Our Team & <span>Help</span></h5>
        <p>The team behind the Voyager project have worked day in and day out to bring this out of this
          world experience to you.The Python team consists of Abigail, Cathal, Cillian, Daniel, Minna,
          Muireann, Raonaid and Reesa. This teams groundbreaking ideas have truly brought the Voyager
          chain hotels to life</p>
      </div>
    </div>
  </section>          </div>
    </div>
  </body>
</html>
