<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Website Layout | CodingLab</title>
    <link rel="stylesheet" href="/static/css/bookingconfirmation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active" href="/about">About</a></li>
  <li><a href="/transport">Transport</a></li>
  <li><a href="/activitiesPage">Activities</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/offers">Offers</a></li>
  <li class="dropdown"><a  href="/accommodation" class="dropbtn">Accommodation</a>
    <div class="dropdown-content">
      <a href="/mars">Mars</a>
      <a href="/venus">Venus</a>
      <a href="/jupiter">Jupiter</a>
      <a href="/saturn">Saturn</a>
    </div>
  </li>
</ul>
  <div class="img"></div>
  <div class="center">
    <div class="title">Booking Confirmed!</div>
    <div class="paragragh">We look forward to seeing you</div>
  </div>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Booking has been made.
</div>
<!--<style>-->
<!--#div1 {-->
<!--  font-size:48px;-->
<!--}-->
<!--</style>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<body>-->
<!---->
<!--<div id="div1" class="fa"></div>-->
<!---->
<!--<script>-->
<!--function ratestar() {-->
<!--  var a;-->
<!--  a = document.getElementById("div1");-->
<!--  a.innerHTML = "&#xf006;";-->
<!--  setTimeout(function () {-->
<!--      a.innerHTML = "&#xf123;";-->
<!--    }, 1000);-->
<!--  setTimeout(function () {-->
<!--      a.innerHTML = "&#xf005;";-->
<!--    }, 2000);-->
<!--}-->
<!--ratestar();-->
<!--setInterval(ratestar, 3000);-->
<!--</script>-->
<!--</body>-->
</body>
</html>