<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="../static/css/booking.css">
</head>
<body>
    <div class="booking_content">
    <div class="container">
        <h1 style="color: #60538a;">Book a Room</h1>
        <form action="http://127.0.0.1:5000/submit_booking" method="POST">
            <label>Email Address: </label>
            <input type="text" name="email address" placeholder="Email Address"/>

            <label for="room">Select Room:</label>
            <select id="room" name="room" required>
                <option value="none selected">None Selected</option>
                <option value="single_room">Single Room</option>
                <option value="double_room">Double Room</option>
                <option value="twin_room">Twin Room</option>
                <option value="family_room">Family Room</option>
                <option value="deluxe_suite">Deluxe Suite</option>
                <option value="presidential_suite">Presidential Suite</option>
            </select>

            <label for="date">Check In:</label>
            <input type="date" id="date" name="date" required>

            <label for="date">Check Out:</label>
            <input name="date" id="date1" type="date" required>

            <input type="submit" value="Book Now">
        </form>
    </div>
</div>
</body>
</html>

