<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facts</title>
    <link rel="stylesheet" href="../static/css/facts.css">
</head>
<body style="background-image: url('../static/images/space2.png'); background-size: cover; background-attachment: fixed;">
<img src="/static/images/fact.png" alt="facts_sign" class="center" style="width:500px; height:200px;">
<ul>

<li><a class="active" href="home.asp">Home</a></li>

<li><a href="about.asp">About</a></li>

<li><a href="travel.asp">Travel</a></li>

<li><a href="book.asp">Book</a></li>

<li><a href="contact.html">Contact</a></li>

<li><a href="accommodation.html">Accommodation</a></li>

<li><a href="transport.html">Transport</a></li>

</ul>
    <div id="content">
<p style="font-size: 30px; font-family: sans-serif; text-align: center; color: #F2F5EA;"><b>First earthling in space</b></p>
        <p style="font-family: sans-serif; text-align: center; font-size: 20px;color: #F2F5EA; ">
The first earthling to orbit our planet was just two years old, plucked from the streets of Moscow barely more than a week before her historic launch.
<br>Her name was Laika. She was a terrier mutt and by all accounts a good dog.
<br>Her 1957 flight paved the way for space exploration back when scientists did not know if spaceflight was lethal for living things.
        </p>
<img src="/static/images/Laika.jpg" alt="Laika" class="center" style="width:500px; height:400px;">

<p style="font-size: 30px; font-family: sans-serif; text-align: center; color: #F2F5EA;"><b> Space tourism</b></p>
<p style="font-family: sans-serif; text-align: center; font-size: 20px; color: #F2F5EA; ">
Space tourism is beginning to gain traction thanks to companies like Virgin Galactic and Blue Origin offering public suborbital rides
<br>In 2021, Blue Origin’s New Shepard carried Jeff Bezos and three other passengers to the edge of space.
</p>
<img src="/static/images/spaceship.jpg" alt="spaceship" class="center" style="width:500px; height:400px;">
<p style="font-size: 30px; font-family: sans-serif; text-align: center; color: #F2F5EA;"><b>Cost of space travel</b></p>
    <p style="font-family: sans-serif; text-align: center; font-size: 20px; color: #F2F5EA; ">
Space Travel is wildly expensive. Orbital Science's Cygnus spacecraft's cargo costs about $43,180 per pound of cargo, and SpaceX's new carriers about $27,000 per pound.
<br>We have determined that a 16-ounce bottle of water can cost anywhere between $9,100 to $43,180 to blast into space.
    </p>
<img src="/static/images/money.png" alt="money" class="center" style="width:500px; height:400px;">
<p style="font-size: 30px; font-family: sans-serif; text-align: center; color: #F2F5EA;"><b>Space travel is slow</b></p>
    <p style="font-family: sans-serif; text-align: center; font-size: 20px; color: #F2F5EA; ">
Based on past missions, we know that it usually takes about three days for a manned spacecraft to reach the moon
<br>The average distance from Earth to the moon is 240,000 miles (386,243 kilometers).
<br>This translates to a spacecraft's speed of about 3,333 mph (5,364 kph).
        </p>
<img src="/static/images/slow.jpg" alt="slow" class="center" style="width:500px; height:400px;">
<p style="font-size: 30px; font-family: sans-serif; text-align: center; color: #F2F5EA;"><b>Space is cold</b></p>
    <p style="font-family: sans-serif; text-align: center; font-size: 20px; color: white; ">
The temperature in the void of space is about −270.45 °C. Space is a hard vacuum, meaning it is a void containing very little matter.
        </p>
<img src="/static/images/cold.jpg" alt="cold" class="center" style="width:500px; height:400px;">
<p style="font-size: 30px; font-family: sans-serif; text-align: center; color: #F2F5EA;"><b>So many stars</b></p>
    <p style="font-family: sans-serif; text-align: center; font-size: 20px; color: #F2F5EA; ">
There are more stars in the universe than grains of sand on all the beaches on Earth. That’s at least a billion trillion!
        </p>
<img src="/static/images/stars.jpg" alt="stars" class="center" style="width:500px; height:400px;">
<p style="font-size: 30px; font-family: sans-serif; text-align: center; color: #F2F5EA;"><b>Less dense than water</b></p>
    <p style="font-family: sans-serif; text-align: center; font-size: 20px; color: #F2F5EA; ">
Saturn is the only planet in our solar system that is less dense than water. It could float in a bathtub if anybody could build a bathtub big enough.
        </p>
<img src="/static/images/saturn.jpg" alt="saturn" class="center" style="width:500px; height:400px;">
<p style="font-size: 30px; font-family: sans-serif; text-align: center; color: #F2F5EA;"><b>Pluto is smaller than the United States.</b></p>
    <p style="font-family: sans-serif; text-align: center; font-size: 20px; color: #F2F5EA; ">
If you were to walk around the equator of Pluto it would be the same distance as walking from London to Denver.
        </p>
<img src="/static/images/pluto.jpg" alt="pluto" class="center" style="width:500px; height:400px;">
<p style="font-size: 30px; font-family: sans-serif; text-align: center; color: #F2F5EA;"><b>Neptune has only completed one orbit around the Sun since its discovery</b></p>
    <p style="font-family: sans-serif; text-align: center; font-size: 20px; color: white; ">
Neptune takes a whopping 165 years to complete one full orbit around the Sun. Since it was discovered in 1846, Neptune only finished its first full post-discovery orbit in 2011.
        </p>
<img src="/static/images/neptune.jpg" alt="neptune" class="center" style="width:500px; height:400px;">
<p style="font-size: 30px; font-family: sans-serif; text-align: center; color: #F2F5EA;"><b>Low power</b></p>
    <p style="font-family: sans-serif; text-align: center; font-size: 20px; color: #F2F5EA; ">
The radio signal that a spacecraft uses to contact Earth has no more power than a refrigerator light bulb.
<br>And by the time the signal has traveled across space, the signal is only one billionth of one-billionth of one watt!
        </p>
<img src="/static/images/lightbulb.jpg" alt="lightbulb" class="center" style="width:500px; height:400px;">
<p style="font-size: 30px; font-family: sans-serif; text-align: center; color: #F2F5EA;"><b>Moon Museum</b></p>
    <p style="font-family: sans-serif; text-align: center; font-size: 20px; color: #F2F5EA; ">
Exhibits in the museum include: Historical Artifacts: Displays artifacts from various moon missions, including tools, space suits, lunar modules from the Apollo, Artemis, and international missions and the famous american flag.
<br>Lunar Geology: Features a vast collection of moon rocks and soil samples, with interactive displays explaining their composition and history.
<br>Space Technology: Showcases the evolution of space travel technology, from early rockets to advanced spacecraft and rovers.
<br>Virtual Reality Experiences: Offers VR experiences that allow visitors to relive historic moon missions and explore the lunar surface in detail.
        </p>
<img src="/static/images/moon_museum.png" alt="museum" class="center" style="width:500px; height:400px;">

        <img src="/static/images/question.png" alt="question" style="width:500px; height:500px; text-align: right;">

    </div>
</body>
</html>

