<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Voyager Hotels home page</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
  <body>
 <ul>
  <li><a class="active" href="home.asp">Home</a></li>
  <li><a href="about.asp">About</a></li>
  <li><a href="travel.asp">Travel</a></li>
  <li><a href="book.asp">Book</a></li>
  <li><a href="contact.asp">Contact</a></li>
 </ul>

    <section class="Home">
      <div class="home">
        <img src="/images/pixlr-image-generator-4b33213d-6f43-48f8-b9e5-10f291b99b54.png" alt="hotel lobby" width="500" height="500">
        <div class="text">
          <h2>VOYAGER</h2>
          <h5> Where Your Journey to the Stars Begins. <span> Are You Ready? </span></h5>
          <p>Welcome to Voyager Hotels, where luxury meets the cosmos. Embark on an unforgettable journey among the stars with our state-of-the-art space accommodations. Experience breathtaking views of the universe, exquisite dining, and unparalleled service. Your adventure of a lifetime starts here.</p>
          <div class="data">
            <a href="#" class="hire">Read More</a>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>

