<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/booking.css">
    <style>
    body {
      background-image: url('../images/istockphoto-1035676256-612x612.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;

    }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">

            <label>Email Address: </label>
            <input type="text" name="email address" placeholder="Email Address"/>

            <label>Password: </label>
            <input type="text" name="password" placeholder="Password"/>

            <label></label>
            <input type="submit" value="Login">
    </form>
</body>
</html>
