<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
</style>
</head>
<body>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pricing Low Gravity Trampoline</title>
  <link rel="stylesheet" href="../static/css/LowGravityTrampoline.css">
</head>
<body>
  <div class="container">
    <h2 class="title">Low Gravity <br>Trampoline</h2>
    <h3 class="price">€20<span>/Day</span></h3>
    <p class="description">All day access with a wristband, come and go as you plese.Go wild in the Jungles of Space. </p>
    <b class="offer">Act fast! Offer ends on September 20, 2235.</b>
    <a class="subscribe-button" href="#">Return</a>
    <div class="ribbon-wrap">
      <div class="ribbon">Special Offer!</div>
    </div>
  </div>
</body>
</html>