<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offers</title>
    <link rel="stylesheet" href="/static/css/offers.css">
</head>
<body>
    <h1>Special Offers</h1>

    <div class="offer-section">
        <h2>Summer Sale: 15% Off</h2>
        <h4>AVAILABLE: 01 July 2024 - 31 AUGUST 2024</h4>
        <img src="/static/images/surf.jpg" alt="cold">
        <ul>
            <li>Save on your Summer stay at Voyager Moon with 15% off Room Only.</li>
            <li>Available for stays in July-August 2024*</li>
            <li>Free cancellation up to 5pm day prior to arrival</li>
            <li>Complimentary 24hr shuttle bus transfer service to all space stations</li>
            <li>Save an additional €10 every night with Voyager.</li>
            <li>Offer available at: Voyager Moon</li>
        </ul>
        <div class="container">
            <a href="bookings.html">Book Now</a>
        </div>
    </div>

    <div class="offer-section">
        <h2>Kids Go Free!</h2>
        <h4>AVAILABLE: 01 AUGUST 2024 - 31 AUGUST 2024</h4>
        <img src="/static/images/marscity.png" alt="cold">
        <ul>
            <li>Want to give your child a holiday to remember before they go back to school?</li>
            <li>Well kids go free for the month of August 2024</li>
            <li>Free cancellation up to 5pm day prior to arrival</li>
            <li>50% off on kids activities</li>
            <li>Save an additional €10 every night with Voyager.</li>
            <li>Offer available at: Voyager Mars</li>
        </ul>
        <div class="container">
            <a href="bookings.html">Book Now</a>
        </div>
    </div>

    <div class="offer-section">
        <h2>Winter Sale: Up to 20% Off Bed & Breakfast</h2>
        <h4>AVAILABLE: 21 October 2024 - 31 January 2025</h4>
        <img src="/static/images/snowboard.jpg" alt="snow">
        <ul>
            <li>Save on your winter break with up to 20% off bed & breakfast</li>
            <li>Don't miss out - selected dates available until end of January</li>
            <li>Save an additional €10 every night with Voyager</li>
            <li>Available for stays until 31st January 2025</li>
            <li>In the heart of Venus City Centre</li>
            <li>Offer available at: Voyager Venus</li>
        </ul>
        <div class="container">
            <a href="bookings.html">Book Now</a>
        </div>
    </div>

    <div class="offer-section">
        <h2>Relax & Revive Celestial Spa Package</h2>
        <h4>AVAILABLE: 01 JUNE 2024 - 31 AUGUST 2025</h4>
        <img src="/static/images/spa2.jpg" alt="spa">
        <ul>
            <li>Enjoy a free session in the Celestial Spa</li>
            <li>Includes Bed & Breakfast</li>
            <li>1 hour thermal suite in the Celestial Spa</li>
            <li>Followed by a Swedish back massage</li>
            <li>Finished with a Phytomer radiant mini facial</li>
            <li>Offer available at: Voyager Jupiter</li>
        </ul>
        <div class="container">
            <a href="bookings.html">Book Now</a>
        </div>
    </div>

    <div class="offer-section">
        <h2>Graduation Celebrations with Dinner</h2>
        <h4>AVAILABLE: 01 JULY 2025 - 01 AUGUST 2025</h4>
        <img src="/static/images/graduation.jpg" alt="graduation">
        <ul>
            <li>Extend Graduation celebrations in style with our exclusive package. Enjoy a delightful stay with a full breakfast, dinner and a glass of prosecco.</li>
            <li>Includes Full Breakfast</li>
            <li>3-Course Dinner per person</li>
            <li>Glass of prosecco per person</li>
            <li>Save extra 10% per room per night when you sign up with Voyager</li>
            <li>Offer available at: Voyager Saturn</li>
        </ul>
        <div class="container">
            <a href="bookings.html">Book Now</a>
        </div>
    </div>

</body>
</html>
