<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment System</title>
    <link rel="stylesheet" href="../static/css/payment.css">
</head>
<body>

    <div class="payment-form">
        <h2>Payment Details</h2>
        <form action="http://127.0.0.1:5000/payment" method="POST">
        <form action="#">
            <div class="form-group">
                <label for="card-name">Name on Card</label>
                <input type="text" id="card-name" name="card-name" required>
            </div>
            <div class="form-group">
                <label for="card-number">Card Number</label>
                <input type="text" id="card-number" name="card-number" required>
            </div>
            <div class="form-group">
                <label for="expiry-date">Expiry Date</label>
                <input type="text" id="expiry-date" name="expiry-date" placeholder="MM/YY" required>
            </div>
            <div class="form-group">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" required>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <select id="amount" name="amount" required>
                <option value="none selected">None Selected</option>
                <option value="single_room">Single Room (€100 per night)</option>
                <option value="double_room">Double Room (€180 per night)</option>
                <option value="twin_room">Twin Room (€140)</option>
                <option value="family_room">Family Room (€220 per night)</option>
                <option value="deluxe_suite">Deluxe Suite (€330 per night)</option>
                <option value="presidential_suite">Presidential Suite (€650 per night)</option>
            </select>
            </div>
            <button type="submit" class="btn-submit">Pay Now</button>
        </form>
    </div>

</body>
</html>