<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>
<ul>
     <li><a href="/">Home</a></li>
     <li><a href="/about">About</a></li>
     <li><a href="/transport">Transport</a></li>
     <li><a href="/activitiesPage">Activities</a></li>
     <li><a href="/contact">Contact</a></li>
     <li class="dropdown"><a  href="/accommodation" class="dropbtn">Accommodation</a>
      <div class="dropdown-content">
       <a href="/mars">Mars</a>
       <a href="/venus">Venus</a>
       <a href="/jupiter">Jupiter</a>
       <a href="/saturn">Saturn</a>
      </div>
    </li>
     <li class="navbar-right"><a href="/login">Login</a></li>
    <li class="active"><a href="/register">Register</a></li>
   </ul>

<center>
<container>
    <h1>Register</h1>
    <form action="http://127.0.0.1:5000/register" method="POST">

            <label>First Name: </label>
            <input type="text" name="first name" placeholder="First Name"/>

            <label>Last Name: </label>
            <input type="text" name="last name" placeholder="Last Name"/>

            <label>Email Address: </label>
            <input type="text" name="email address" placeholder="Email Address"/>

            <label>Phone Number: </label>
            <input type="text" name="phone number" placeholder="Phone Number" />

            <label>Password: </label>
            <input type="text" name="password" placeholder="Password">

            <label>Confirm Password: </label>
            <input type="text" name="confirm password" placeholder="Confirm Password">

            <label></label>
            <input type="submit" value="Register">


    </form>
</container>
</center>

</body>
</html>

