<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
</style>
</head>
<body>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zero Gravity Pricing</title>
  <link rel="stylesheet" href="../static/css/ZeroGravityBallPit.css">
</head>
</body>
  <div class="container">
    <h2 class="title">Zero Gravity <br> Ball Pit</h2>
    <h3 class="price">€29<span>/Day</span></h3>
    <p class="description">Gain all day access to the Zero Gravity Ball Pit.With your own wristband you can come and go as you please all day long.</p>
    <b class="offer">Act fast! Offer ends on September 20, 2235.</b>
    <a class="subscribe-button" href="activityBook.html">Book</a>
    <a class="subscribe-button" href="kidsActivities.html">Return</a>
    <div class="ribbon-wrap">
      <div class="ribbon">Special Offer!</div>
    </div>
  </div>
</body>
</html>